$background: #FAF7F0;
$foreground: #333333;
$cyan: #4A4947;
$green: #D8D2C2;
$orange: #3a3a39;
$purple: #242424;
$option: #c9c9c9;
$red: #ff5555;
$yellow: #4A4947;
$selection: #FFE69A;
.add-state-content, .remove-state-content {
    width: 40%;
    height: 20rem;
    border: 1px solid #333333;
    position: absolute;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: $background;
    overflow: auto;
    border-radius: 20px;
    outline: none;
    padding: 20px;
    z-index: 10;
}

.add-state-overlay, .remove-state-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.add-state-box, .remove-state-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;

    h2 {
        color: $orange;
    }

    p {
        margin-top: 3rem;
        color: $purple;
    }

    input {
        width: 70%;
        height: 2.5rem;
        margin-top: 1.5rem;
        box-shadow: inset 0 .0625em .125em rgba(10, 10, 10, .05);
        padding-top: calc(.5rem - 1px);
        padding-bottom: calc(.5rem - 1px);
        padding-left: calc(.75rem - 1px);
        padding-right: calc(.75rem - 1px);
        border-radius: .375rem;
        outline: 0;
        border: 1px solid #faab50;
        background: $green;
        color: $purple;
        &:focus {
            border: 1px solid #8BE9FD;
            outline: 2px solid #6272A4;
        }
    }

    .select-box {
        width: 80%;
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: $purple;
    
        div {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            h3 {
                margin-bottom: 1rem;
                color: #1d1d1d;
            }
    
            select {
                width: 100%;
             
                border: 1px solid #6272A4;
                border-radius: 5px;
                font-size: 1.2rem;
                font-weight: bold;
                font-family: 'Poppins', sans-serif;
                color: #000000;  // Texto em preto no select
                background: $green;
    
                // Estilo quando em foco
                &:focus {
                    border: 1px solid #8BE9FD;
                    outline: 2px solid #6272A4;
                }
    
                // Estilo ao passar o mouse
                &:hover {
                    color: #313131;  // Texto em amarelo claro no hover
                }
    
                // Estilo das opções
                option {
                    color: #000000;  // Texto das opções em preto
                    background: $option;  // Fundo das opções
                }
    
                // Garantir que a seleção será visível
                option:checked {
                    background: #FFBB00;  // Cor de fundo da opção selecionada
                    color: #000000;  // Cor do texto da opção selecionada
                }
            }
        }
    }
    
    .add-state-buttons, .remove-state-buttons {
        width: 70%;
        height: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 2rem;

        .add-state-button, .remove-state-button {
            width: 35%;
            height: 2.5rem;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            color: #F8F8F2;
            background: $purple;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            &:hover {
                opacity: 0.6;
            }
        }

        .cancel-state-button {
            width: 35%;
            height: 2.5rem;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            color: #F8F8F2;
            background: #FF5555;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            &:hover {
                opacity: 0.6;
            }
        }
    }
}
