$background: #FAF7F0;
$foreground: #333333; 
$cyan: #4A4947; 
$green: #D8D2C2;
$orange: #ffb86c;
$purple: #242424; 
$red: #ff5555; 
$yellow: #4A4947; 
$selection: #FFE69A; 

.container {
    width: 100%;
    min-height: 100vh;
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    .title {
        margin-top: 4rem;
        font-size: 3rem;
        text-shadow: 2px 2px $selection; 
    }

    span {
        margin-top: 2rem;
        font-size: 1.5rem;
        color: $cyan; 
        text-shadow: 1px 1px $selection; 
    }

    a {
        background-color: $cyan; 
        margin-top: 2rem;
        width: 100%;
        max-width: 300px;
        padding: 1.3rem 0;
        border-radius: 15px;
        border: none;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        color: $background;
        font-weight: bold;
        transition: 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: $green; 
            color: $background; 
            transform: scale(1.05);
        }
    }

    .info-buttons {
        margin-top: 2rem;

        button {
            margin: 0.5rem;
            background-color: $cyan;
            color: $background;
            padding: 0.7rem 1.5rem;
            border: none;
            border-radius: 10px;
            font-size: 1rem;
            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
                background-color: $green;
            }
        }
    }

    .modal-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background-color: $foreground;
        color: $background;
        padding: 2rem;
        border-radius: 10px;
        text-align: center;
        max-width: 400px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);

        h2 {
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }

        button {
            background-color: $red;
            color: $background;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: darken($red, 10%);
            }
        }
    }
}
